/A2B.asm
/A2D.asm
/A2E.asm
/ATL-WFR.asm
/ATL2Copy.asm
/Ant2Maven.asm
/AnyLogic2XML.asm
/Assertion.asm
/B2C.asm
/BibTeX2DocBook.asm
/C2E.asm
/CPL2SPL.asm
/CodeClone2SVG.asm
/CodeClone2SVG2.asm
/D2E.asm
/DSL2KM3.asm
/Families2Persons.asm
/IEEE1471_2_MoDAF.asm
/JAVA2String-query.asm
/JAVA2String.asm
/JavaSource2Table.asm
/KM32Metrics.asm
/KM32OWL.asm
/KM32Problem.asm
/MOF2UML.asm
/Measure2Table.asm
/Measure2XHTML.asm
/OCL2R2ML.asm
/PathExp2PetriNet.asm
/PathExp2TextualPathExp.asm
/PetriNet2XML.asm
/R2ML2OCL.asm
/R2ML2XML.asm
/SimpleClass2SimpleRDBMS.asm
/SimpleSBVR2SimpleUML.asm
/SoftwareQualityControl2Bugzilla.asm
/SoftwareQualityControl2Mantis.asm
/SpreadsheetMLSimplified2SoftwareQualityControl.asm
/Syntax2SimpleSBVR.asm
/TT2BDD.asm
/Table2SVGBarChart.asm
/Table2SVGPieChart.asm
/UML2AnyLogic.asm
/UML2JAVA.asm
/UML2MOF.asm
/UmlActivityDiagram2MSProject.asm
/University2Company.asm
/WFR.asm
/XML2KML.asm
/reverse_B2A.asm
/reverse_C2B.asm
/reverse_D2A.asm
/reverse_E2A.asm
/reverse_E2C.asm
/reverse_E2D.asm
