<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2m.atl.adt.launching.atlTransformation">
<stringAttribute key="ATL File Name" value="/Port/Tranformations/TypeA2TypeB_v4.atl"/>
<stringAttribute key="ATL VM" value="EMF-specific VM"/>
<stringAttribute key="ATL_COMPILER" value="atl2006"/>
<booleanAttribute key="AllowInterModelReferences" value="false"/>
<booleanAttribute key="IS_REFINING" value="false"/>
<mapAttribute key="Input">
<mapEntry key="inA" value="TypeA"/>
</mapAttribute>
<mapAttribute key="Libs"/>
<booleanAttribute key="Mode Debug" value="false"/>
<mapAttribute key="Model Handler">
<mapEntry key="TypeB" value="EMF"/>
<mapEntry key="TypeA" value="EMF"/>
</mapAttribute>
<mapAttribute key="ModelType">
<mapEntry key="inA" value="MODELINPUT"/>
<mapEntry key="inB" value="MODELOUTPUT"/>
<mapEntry key="TypeB" value="METAMODELOUTPUT"/>
<mapEntry key="TypeA" value="METAMODELINPUT"/>
</mapAttribute>
<mapAttribute key="Options">
<mapEntry key="supportUML2Stereotypes" value="false"/>
<mapEntry key="printExecutionTime" value="false"/>
<mapEntry key="OPTION_CLEAR" value="false"/>
<mapEntry key="OPTION_CONTENT_TYPE" value="false"/>
<mapEntry key="OPTION_DERIVED" value="true"/>
<mapEntry key="allowInterModelReferences" value="false"/>
<mapEntry key="step" value="false"/>
</mapAttribute>
<mapAttribute key="Output">
<mapEntry key="inB" value="TypeB"/>
</mapAttribute>
<mapAttribute key="Path">
<mapEntry key="inA" value="/Port/SampleModels/sample-TypeA.xmi"/>
<mapEntry key="inB" value="/Port/SampleModels/sample-TypeB.xmi"/>
<mapEntry key="TypeB" value="/Port/Metamodel/TypeB.ecore"/>
<mapEntry key="TypeA" value="/Port/Metamodel/TypeA.ecore"/>
</mapAttribute>
<stringAttribute key="Project Name" value="Port"/>
<listAttribute key="Superimpose"/>
<booleanAttribute key="continueAfterError" value="false"/>
<booleanAttribute key="disableAttributeHelperCache" value="false"/>
<booleanAttribute key="printExecutionTime" value="false"/>
<booleanAttribute key="profile" value="false"/>
<booleanAttribute key="showSummary" value="false"/>
<booleanAttribute key="step" value="false"/>
</launchConfiguration>
